<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b36d79">  <td>18/09/22 14:30:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SignupSignin.Browserclose()[pri:0, instance:com.utest.testcases.SignupSignin@13f88ab]">&lt;&lt;Browserclose</td> 
<td>&nbsp;</td>  <td>main@20597636</td>   <td></td> </tr>
<tr bgcolor="b36d79">  <td>18/09/22 14:30:57</td>   <td>57031</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SignupSignin.Browserclose()[pri:0, instance:com.utest.testcases.SignupSignin@13f88ab]">&lt;&lt;Browserclose</td> 
<td>&nbsp;</td>  <td>main@20597636</td>   <td></td> </tr>
<tr bgcolor="b36d79">  <td>18/09/22 14:31:45</td>   <td>104767</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SignupSignin.Browserclose()[pri:0, instance:com.utest.testcases.SignupSignin@13f88ab]">&lt;&lt;Browserclose</td> 
<td>&nbsp;</td>  <td>main@20597636</td>   <td></td> </tr>
<tr bgcolor="b36d79">  <td>18/09/22 14:32:27</td>   <td>147174</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SignupSignin.Browserclose()[pri:0, instance:com.utest.testcases.SignupSignin@13f88ab]">&lt;&lt;Browserclose</td> 
<td>&nbsp;</td>  <td>main@20597636</td>   <td></td> </tr>
<tr bgcolor="b36d79">  <td>18/09/22 14:33:28</td>   <td>207790</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SignupSignin.Browserclose()[pri:0, instance:com.utest.testcases.SignupSignin@13f88ab]">&lt;&lt;Browserclose</td> 
<td>&nbsp;</td>  <td>main@20597636</td>   <td></td> </tr>
<tr bgcolor="b36d79">  <td>18/09/22 14:28:42</td>   <td>-77615</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SignupSignin.Browseropen()[pri:0, instance:com.utest.testcases.SignupSignin@13f88ab]">&gt;&gt;Browseropen</td> 
<td>&nbsp;</td>  <td>main@20597636</td>   <td></td> </tr>
<tr bgcolor="b36d79">  <td>18/09/22 14:30:02</td>   <td>2110</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SignupSignin.Browseropen()[pri:0, instance:com.utest.testcases.SignupSignin@13f88ab]">&gt;&gt;Browseropen</td> 
<td>&nbsp;</td>  <td>main@20597636</td>   <td></td> </tr>
<tr bgcolor="b36d79">  <td>18/09/22 14:30:59</td>   <td>59104</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SignupSignin.Browseropen()[pri:0, instance:com.utest.testcases.SignupSignin@13f88ab]">&gt;&gt;Browseropen</td> 
<td>&nbsp;</td>  <td>main@20597636</td>   <td></td> </tr>
<tr bgcolor="b36d79">  <td>18/09/22 14:31:47</td>   <td>106867</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SignupSignin.Browseropen()[pri:0, instance:com.utest.testcases.SignupSignin@13f88ab]">&gt;&gt;Browseropen</td> 
<td>&nbsp;</td>  <td>main@20597636</td>   <td></td> </tr>
<tr bgcolor="b36d79">  <td>18/09/22 14:32:29</td>   <td>149271</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SignupSignin.Browseropen()[pri:0, instance:com.utest.testcases.SignupSignin@13f88ab]">&gt;&gt;Browseropen</td> 
<td>&nbsp;</td>  <td>main@20597636</td>   <td></td> </tr>
<tr bgcolor="b36d79">  <td>18/09/22 14:32:06</td>   <td>126525</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignupSignin.loginfail()[pri:4, instance:com.utest.testcases.SignupSignin@13f88ab]">loginfail</td> 
  <td>main@20597636</td>   <td></td> </tr>
<tr bgcolor="b36d79">  <td>18/09/22 14:31:18</td>   <td>78428</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignupSignin.loginsuccess()[pri:3, instance:com.utest.testcases.SignupSignin@13f88ab]">loginsuccess</td> 
  <td>main@20597636</td>   <td></td> </tr>
<tr bgcolor="b36d79">  <td>18/09/22 14:32:49</td>   <td>168817</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignupSignin.savearticles()[pri:5, instance:com.utest.testcases.SignupSignin@13f88ab]">savearticles</td> 
  <td>main@20597636</td>   <td></td> </tr>
<tr bgcolor="b36d79">  <td>18/09/22 14:30:31</td>   <td>31156</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignupSignin.signupfail()[pri:2, instance:com.utest.testcases.SignupSignin@13f88ab]">signupfail</td> 
  <td>main@20597636</td>   <td></td> </tr>
<tr bgcolor="b36d79">  <td>18/09/22 14:29:14</td>   <td>-45922</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignupSignin.signupsuccess()[pri:1, instance:com.utest.testcases.SignupSignin@13f88ab]">signupsuccess</td> 
  <td>main@20597636</td>   <td></td> </tr>
</table>
