<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.utest.testcases.SignupSignin</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>signupfail</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>signupsuccess</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loginsuccess</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>savearticles</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loginfail</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Browseropen</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Browserclose</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
