<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b36d79">  <td>18/09/22 14:12:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SignupSignin.Browserclose()[pri:0, instance:com.utest.testcases.SignupSignin@13f88ab]">&lt;&lt;Browserclose</td> 
<td>&nbsp;</td>  <td>main@20597636</td>   <td></td> </tr>
<tr bgcolor="b36d79">  <td>18/09/22 14:12:53</td>   <td>14615</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SignupSignin.Browserclose()[pri:0, instance:com.utest.testcases.SignupSignin@13f88ab]">&lt;&lt;Browserclose</td> 
<td>&nbsp;</td>  <td>main@20597636</td>   <td></td> </tr>
<tr bgcolor="b36d79">  <td>18/09/22 14:13:06</td>   <td>28422</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SignupSignin.Browserclose()[pri:0, instance:com.utest.testcases.SignupSignin@13f88ab]">&lt;&lt;Browserclose</td> 
<td>&nbsp;</td>  <td>main@20597636</td>   <td></td> </tr>
<tr bgcolor="b36d79">  <td>18/09/22 14:13:19</td>   <td>41422</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SignupSignin.Browserclose()[pri:0, instance:com.utest.testcases.SignupSignin@13f88ab]">&lt;&lt;Browserclose</td> 
<td>&nbsp;</td>  <td>main@20597636</td>   <td></td> </tr>
<tr bgcolor="b36d79">  <td>18/09/22 14:12:14</td>   <td>-23856</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SignupSignin.Browseropen()[pri:0, instance:com.utest.testcases.SignupSignin@13f88ab]">&gt;&gt;Browseropen</td> 
<td>&nbsp;</td>  <td>main@20597636</td>   <td></td> </tr>
<tr bgcolor="b36d79">  <td>18/09/22 14:12:41</td>   <td>2799</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SignupSignin.Browseropen()[pri:0, instance:com.utest.testcases.SignupSignin@13f88ab]">&gt;&gt;Browseropen</td> 
<td>&nbsp;</td>  <td>main@20597636</td>   <td></td> </tr>
<tr bgcolor="b36d79">  <td>18/09/22 14:12:55</td>   <td>16690</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SignupSignin.Browseropen()[pri:0, instance:com.utest.testcases.SignupSignin@13f88ab]">&gt;&gt;Browseropen</td> 
<td>&nbsp;</td>  <td>main@20597636</td>   <td></td> </tr>
<tr bgcolor="b36d79">  <td>18/09/22 14:13:09</td>   <td>30764</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SignupSignin.Browseropen()[pri:0, instance:com.utest.testcases.SignupSignin@13f88ab]">&gt;&gt;Browseropen</td> 
<td>&nbsp;</td>  <td>main@20597636</td>   <td></td> </tr>
<tr bgcolor="b36d79">  <td>18/09/22 14:13:19</td>   <td>41404</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignupSignin.loginfail()[pri:4, instance:com.utest.testcases.SignupSignin@13f88ab]">loginfail</td> 
  <td>main@20597636</td>   <td></td> </tr>
<tr bgcolor="b36d79">  <td>18/09/22 14:13:06</td>   <td>28352</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignupSignin.loginsuccess()[pri:3, instance:com.utest.testcases.SignupSignin@13f88ab]">loginsuccess</td> 
  <td>main@20597636</td>   <td></td> </tr>
<tr bgcolor="b36d79">  <td>18/09/22 14:13:21</td>   <td>43457</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignupSignin.savearticles()[pri:5, instance:com.utest.testcases.SignupSignin@13f88ab]">savearticles</td> 
  <td>main@20597636</td>   <td></td> </tr>
<tr bgcolor="b36d79">  <td>18/09/22 14:12:53</td>   <td>14550</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignupSignin.signupfail()[pri:2, instance:com.utest.testcases.SignupSignin@13f88ab]">signupfail</td> 
  <td>main@20597636</td>   <td></td> </tr>
<tr bgcolor="b36d79">  <td>18/09/22 14:12:37</td>   <td>-942</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignupSignin.signupsuccess()[pri:1, instance:com.utest.testcases.SignupSignin@13f88ab]">signupsuccess</td> 
  <td>main@20597636</td>   <td></td> </tr>
</table>
